{% extends 'gambit/base.html' %}
{% block title %}Help - {% endblock %}
{% block content %}<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h2>Help!</h2>
      <p>This is a collection of help topics that has been collated from user queries and testing. If you have an issue which is not covered by these topics, please get in touch with <a href='mailto:aidan@44con.com'>aidan@44con.com</a>.</p>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <ul class='list-group'>
        {% for item in help_page_items %}<li class='list-group-item'><strong>{{ item.title }}</strong> {{ item.content|safe }}</li>{% empty %}<li class='list-group-item'>No help items have been added!</li>{% endfor %}
      </ul>
    </div>
  </div>
</div>{% endblock %}
