{% extends 'gambit/base.html' %}
{% block content %}<div class='container'>
  <div class='row'>
    <h1 class='text-center'>44CON {{ CONFERENCE_YEAR }} Call For Papers</h1>
    <div {% if not user.is_authenticated %}class='col-md-7'{% else %}class='col-md-12'{% endif %}>
      {{ front_page.leading_paragraph|safe|default:"No lead paragraph has been set!" }}
    </div>
    {% if not user.is_authenticated %}<div class='col-md-5'>
      <div class='login-form'>
        <form method='post'>
          {% csrf_token %}
          {{ form.non_field_errors }}
          {% for field in form %}<div class='form-group'>
            {{ field.errors }}
            <label for='{{ field.id_for_label }}'>{{ field.label }}</label>
            {{ field }}
            {% if field.help_text %}<p class='help-block'>{{ field.help_text|safe }}</p>{% endif %}
          </div>{% endfor %}
          <button type='submit' class='btn btn-primary group-button-spacing'>Login</button> <a class='btn btn-inverse group-button-spacing' href='{% url 'signup' %}'>Create an account</a> <a class='btn btn-inverse group-button-spacing' href='{% url 'password_reset' %}'>Forgot your password?</a>
        </form>
      </div>
    </div>{% endif %}
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <h2>Submission Guidance</h2>
      {{ front_page.submission_paragraph|safe|default:"No submission guidance has been set!" }}
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <h2>Speaker Privileges</h2>
      {{ front_page.speaker_paragraph|safe|default:"No speaker guidance has been set!" }}
    </div>
  </div>
</div>{% endblock %}
