{% extends 'gambit/base.html' %}
{% block content %}
<h1>Welcome to the 44CON {{ CONFERENCE_YEAR }} Call For Papers!</h1>
<div class='row'>
  <div class='col-md-12'>
    {% if not user.is_authenticated %}<a href='{% url 'signup' %}'><h3>Create an account to make your submission</h3></a>{% endif %}
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc commodo facilisis diam quis facilisis. Nam hendrerit magna id velit cursus, et ultricies mauris rhoncus. Integer id erat a velit lacinia efficitur. Etiam sed odio eget ligula volutpat rhoncus. Vivamus sit amet leo dictum, vulputate massa laoreet, bibendum velit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque mauris mi, consectetur vitae scelerisque nec, sagittis vitae libero. Proin purus nibh, dictum eget lectus varius, mollis ultrices quam. Nunc egestas felis pharetra, posuere leo ut, ornare libero. Integer ex nisi, ornare eu augue vel, congue auctor orci. Fusce elementum orci non urna fringilla commodo. Fusce tincidunt cursus turpis.</p>
    <ul>
      <li>Lorem ipsum</li>
      <li>dolor sit amet,</li>
      <li>consectetur adipiscing elit.</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc commodo facilisis diam quis facilisis. Nam hendrerit magna id velit cursus, et ultricies mauris rhoncus.</p>
  </div>
</div>
<div class='row'>
  <div class='col-md-6'>
    <h2>Submission Guidance</h2>
    <ul>
      <li>Lorem ipsum</li>
      <li>dolor sit amet,</li>
      <li>consectetur adipiscing elit.</li>
      <li>Nunc commodo</li>
      <li>facilisis diam</li>
      <li>quis facilisis.</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc commodo facilisis diam quis facilisis. Nam hendrerit magna id velit cursus, et ultricies mauris rhoncus.</p>
  </div>
  <div class='col-md-6'>
    <h2>Submission Deadline</h2>
    <p>All talks <strong>must</strong> be submitted before <a href="#"><strong>&lt;a deadline&gt;</strong></a>.</p>
  </div>
</div>
{% endblock %}
