{% extends 'gambit/base.html' %}
{% block title %}Login - {% endblock %}
{% block content %}<div class='container'>
  <div class='row'>
    <div class='col-md-offset-2 col-md-8'>
      <h2>Login to your account</h2>
      <div class='login-form'>
        <form method='post'>
          {% csrf_token %}
          {{ form.non_field_errors }}
          {% for field in form %}<div class='form-group'>
            {{ field.errors }}
            <label for='{{ field.id_for_label }}'>{{ field.label }}</label>
            {{ field }}
            {% if field.help_text %}<p class='help-block'>{{ field.help_text|safe }}</p>{% endif %}
          </div>{% endfor %}
          <button type='submit' class='btn btn-primary'>Login</button> <a class='btn btn-inverse' href='{% url 'signup' %}'>Create an account</a> <a class='btn btn-inverse' href='{% url 'password_reset' %}'>Forgot your password?</a>
        </form>
      </div>
    </div>
  </div>
</div>{% endblock %}
