{% extends 'gambit/base.html' %}
{% block scriptinject %}<script>
    function redirect(){
       window.location.href = "{% url 'profile' %}";
    }
    setTimeout(redirect, 5000);
</script>{% endblock %}
{% block title %}Password changed - {% endblock %}
{% block content %}<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
    <h2>Your password has been changed successfully</h2>
    <p>You will be redirected to your <a href='{% url 'profile' %}'>profile page</a> in 5 seconds.</p>
    </div>
  </div>
</div>{% endblock %}
