{% extends 'gambit/base.html' %}
{% block scriptinject %}<script>
    function redirect(){
       window.location.href = "{% url 'profile' %}";
    }
    setTimeout(redirect, 5000);
</script>{% endblock %}
{% block title %}Password reset - {% endblock %}
{% block content %}<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
    <h2>Your password has been changed successfully</h2>
    <p>You may now go ahead and <a href='{% url 'login' %}'>login</a>.</p>
    </div>
  </div>
</div>{% endblock %}
