{% extends 'gambit/base.html' %}
{% block title %}Password reset - {% endblock %}
{% block content %}<div class='container'>
  <div class='row'>
    <div class='col-md-offset-2 col-md-8'>
      <h2>Reset your account password</h2>
      <form method='post'>
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}<div class='form-group'>
          {{ field.errors }}
          <label for='{{ field.id_for_label }}'>{{ field.label }}</label>
          {{ field }}
          {% if field.help_text %}<p class='help-block'>{{ field.help_text|safe }}</p>{% endif %}
        </div>{% endfor %}
        <button class='btn btn-primary btn-wide' type='submit'>Reset password</button>
      </form>
    </div>
  </div>
</div>{% endblock %}
