{% extends 'gambit/base.html' %}
{% block title %}User profile - {% endblock %}
{% block content %}<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <div class='panel panel-default'>
        <table class='table table-borderless table-responsive is_breakable'>
          <tbody>
            {% with profile=user.profile %}
            <tr>
              <td class='col-md-2 profile_key'><strong>Name:</strong></td>
              <td class='col-md-10'>{{ profile.name }}</td>
            </tr>
            <tr>
              <td><strong>Country:</strong></td>
              <td>{{ profile.country }}</td>
            </tr>
            {% if profile.affiliation %}<tr>
              <td><strong>Affiliation:</strong></td>
              <td>{{ profile.affiliation }}</td>
            </tr>{% endif %}{% endwith %}
            <tr>
              <td><strong>Contact Email:</strong></td>
              <td><a href='mailto:{{ user.email }}'>{{ user.email }}</a></td>
            </tr>
          </tbody>
        </table>
        <div class='panel-body'>
          <a class='btn btn-primary' href='{% url 'update_profile'  %}'>Edit profile</a>
          <a class='btn btn-primary' href='{% url 'password_change'  %}'>Change password</a>
        </div>
        <hr>
        <table class='table table-striped table-responsive'>
          <thead>
            <th class='col-md-9'>My Submissions</th>
            <th class='col-md-3'>Submission Date</th>
          </thead>
          <tbody>
            {% for submission in submissions %}<tr>
              <td><a title='{{ submission.title }}'  href='{% url 'submission' submission.uuid %}'>{{ submission.title|truncatechars:48 }}</a></td>
              <td>{{ submission.submitted_on|date:'Y-m-d' }}</td>
            </tr>{% empty %}
            <tr>
              <td colspan='2'>You haven't submitted anything yet!</td>
            </tr>{% endfor %}
          </tbody>
        </table>
        {% load has_group %}{% if user|has_group:'Programme Committee' %}<hr>
        <table class='table table-striped table-responsive'>
          <thead>
            <th class='col-md-3'>My Reviews</th>
            <th class='col-md-3'>Submission Score</th>
            <th class='col-md-3'>Expertise Score</th>
            <th class='col-md-3'>Review Date</th>
          </thead>
          <tbody>
            {% for review in reviews %}<tr>
              <td><a title='{{ review.submission.title }}'  href='{% url 'submission' review.submission.uuid %}'>{{ review.submission.title|truncatechars:48 }}</a></td>
              <td>{{ review.submission_score }}</td>
              <td>{{ review.expertise_score }}</td>
              <td>{{ review.submitted_on|date:'Y-m-d' }}</td>
            </tr>{% empty %}
            <tr>
              <td colspan='2'>You haven't reviewed anything yet!</td>
            </tr>{% endfor %}
          </tbody>
        </table>{% endif %}
      </div>
    </div>
  </div>
</div>{% endblock %}
