{% extends 'gambit/base.html' %}
{% block title %}Signup - {% endblock %}
{% block content %}{% if registration_disabled %}<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h2>Registration is currently disabled.</h2>
      <a href='{% url 'home' %}'>&laquo; Return home</a>
    </div>
  </div>
</div>{% else %}{% if user.is_authenticated %}<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h2>Already logged in!</h2>
      <a href='{% url 'home' %}'>&laquo; Return home</a>
    </div>
  </div>
</div>
{% else %}<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h2>Sign up for 44CON CFP</h2>
      <p><a href='{% url 'login' %}?next={% url 'home' %}'>Already got an acccount?</a></p>
      <p><small><strong>Fields marked in bold are required</strong></small></p>
      <div class='login-form'>
        <form method='post'>
          {% csrf_token %}
          {{ form.non_field_errors }}
          {% for field in form %}<div class='form-group'>
            {{ field.errors }}
            <label for='{{ field.id_for_label }}'>{{ field.label|safe }}</label>
            {{ field }}
            {% if field.help_text %}<p class='help-block'>{{ field.help_text|safe }}</p>{% endif %}
          </div>{% endfor %}
          <button class='btn btn-primary btn-wide' type='submit'>Register</button>
        </form>
      </div>
    </div>
  </div>
</div>{% endif %}{% endif %}{% endblock %}
