{% extends 'gambit/base.html' %}
{% block title %}Signup - {% endblock %}
{% block content %}
{% if user.is_authenticated %}<h1>Already logged in!</h1>
<a href='{% url 'index' %}'>&laquo; Return home</a>
{% else %}<h1>Sign up for 44CON CFP</h1>
<div class='row'>
  <div class='col-md-12'>
    <form method='post'>
      {% csrf_token %}
      <table class='table table-responsive'>{{ form.as_table }}</table>
      <button type='submit'>Signup</button> <a href='{% url 'login' %}'>Already got an acccount?</a>
    </form>
  </div>
</div>{% endif %}
{% endblock %}
