{% extends 'gambit/base.html' %}
{% block title %}{{ submission.title }} - Submission - {% endblock %}
{% block scriptinject %}<script>$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})</script>{% endblock %}
{% block content %}{% load has_group %}{% with profile=submission.user.profile sub_user=submission.user_id pc=user|has_group:'Programme Committee' %}<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <div id='submission'>
        <h3 class='submission-title'><strong>{{ submission.title }}</strong> {% if has_reviewed %}<span title='Reviewed!' class='fui-check review-checkmark text-success' aria-hidden='true'></span>{% endif %}</h3>
        <ul class='list-inline small'>
          {% if user.id == sub_user %}<li><a class='btn btn-success btn-sm' href='{% url 'update_submission' submission.uuid %}'>Edit your submission</a></li>
          <li>&middot;</li>{% endif %}
          <li>
            <span title='Submitted on' class='fui-calendar submission-icon' aria-hidden='true'></span>
            <span title='{{ submission.submitted_on|date:'c' }}'>{{ submission.submitted_on|date:'d F Y' }}</span>{% if pc %}
          <li>&middot;</li>
          <li title='Submitted by'>{{ profile.name }}</li>
          <li>&middot;</li>
          <li title='Country of residence'>{{ profile.country }}</li>
          <li>&middot;</li>
          <li title='Contact Email'><a href='mailto:{{ submission.contact_email }}'>{{ submission.contact_email }}</a></li>{% endif %}
        </ul>
        <hr>
        {% if submission.file %}<p>
          <span title='Submission' class='fui-upload submission-icon' aria-hidden='true'></span>
          <a target='_blank' href='{% url 'download_submission' submission.uuid %}'>{{ submission_file_name }} <span class='glyphicon glyphicon-download' aria-hidden='true'></span></a> ({{ submission.file.size|filesizeformat }})<br>
          <span class='small'><span title='Checksum' class='fui-check submission-icon' aria-hidden='true'></span> <span id='file-hash' data-toggle="tooltip" data-placement="bottom" title="SHA-512 checksum"><code id='abbreviated-hash'>{{ submission.file_hash|truncatechars:9 }}</code><code id='full-hash'>{{ submission.file_hash }}</code></span>
        </p>{% endif %}
        {% if submission.abstract %}<p class='submission-subtitle'><strong>Abstract</strong></p>
        {{ submission.abstract|linebreaks }}{% endif %}
        {% if submission.authors %}<p class='submission-subtitle'><strong>Author(s)</strong></p>
        {{ submission.authors|linebreaks }}{% endif %}
        {% if submission.conflicts %}<p class='submission-subtitle'><strong class='text-danger'>Conflicts</strong></p>
        {{ submission.conflicts|linebreaks }}{% endif %}
      </div>{% if pc %}
      <div id='reviews'>
        <p class='pull-right'>{% if not user.id == sub_user %}{% if has_reviewed %}<a class='btn btn-success btn-wide' href='{% url 'update_review' review_uuid %}'>Edit your review</a>{% else %}<a class='btn btn-success btn-wide' href='{% url 'new_review' submission.uuid %}'>Submit a review</a>{% endif %}{% endif %}</p>
        <h5>Reviews</h5>
        {% if user.id == sub_user %}
          <p>For the sake of impartiality, reviews of your own submission have been hidden.</p>{% else %}
        <ul class='list-inline'>
          <li><strong>Average Score:</strong> {{ submission.get_average_score }}</li>
          <li>&middot;</li>
          <li><strong>Total Score:</strong> {{ submission.get_total_score }}</li>
          <li>&middot;</li>
          <li><strong>Total Votes:</strong> {{ submission.get_reviews.count }}</li>
        </ul>
        {% for review in reviews %}<div class='well well-sm'>
          <p>
            <strong>{{ review.get_reviewer_name }}</strong> &mdash;
            <strong>Expertise:</strong> {{ review.expertise_score }}/5 &middot; <strong>Score:</strong> {{ review.submission_score }}/5
          </p>
          <p>{{ review.comments }}</p>
        </div>{% empty %}
        <p class='well well-sm'>No reviews submitted yet!</p>
        {% endfor %}{% endif %}{% endif %}
      </div>
    </div>
  </div>
</div>{% endwith %}
{% endblock %}
