{% extends 'gambit/base.html' %}
{% block title %}Submission List - {% endblock %}
{% block styleinject %}<link rel='stylesheet' type='text/css' href='https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css' integrity='sha384-VEpVDzPR2x8NbTDZ8NFW4AWbtT2g/ollEzX/daZdW/YvUBlbgVtsxMftnJ84k0Cn' crossorigin='anonymous'>{% endblock %}
{% block scriptinject %}<script type='text/javascript' charset='utf-8' src='https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js' integrity='sha384-Z9D45cp3elqajO+xEyjRTIK1Gr3eYsXiyCPIKNog1sIQzpo2fqFDqFdADGiJjzOv' crossorigin='anonymous'></script>
<script type='text/javascript' charset='utf-8' src='https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js' integrity='sha384-7PXRkl4YJnEpP8uU4ev9652TTZSxrqC8uOpcV1ftVEC7LVyLZqqDUAaq+Y+lGgr9' crossorigin='anonymous'></script>
<script>$(document).ready(function(){
    $('#submissions').DataTable();
});</script>{% endblock %}
{% block content %}
<div class='panel panel-default'>
  <div class='panel-heading'>
    <h3 class='panel-title'><strong>Submission List</strong></h3>
  </div>
  <div class='submissions-table'>
    <table id='submissions' class='table table-striped table-responsive'>
      <thead>
        <th class='col-md-4'>Submission</th>
        <th class='col-md-2'>Submission Date</th>
        <th class='col-md-2'>Reviews</th>
        <th class='col-md-2'>Average Score</th>
        <th class='col-md-2'>Total Score</th>
      </thead>
      <tbody>
        {% for submission in submissions %}{% if user == submission.user %}<tr class='info'>
          <td><a href='{% url 'submission' submission.uuid %}'>{{ submission.title }}</a></td>
          <td>{{ submission.submitted_on|date:'Y-m-d' }}</td>
          <td>{{ submission.get_reviews|length }}</td>
          <td>{{ submission.get_average_score }}</td>
          <td>{{ submission.get_total_score }}</td>
        </tr>{% else %}<tr>
          <td><a href='{% url 'submission' submission.uuid %}'>{{ submission.title }}</a></td>
          <td>{{ submission.submitted_on|date:'Y-m-d' }}</td>
          <td>{{ submission.get_reviews|length }}</td>
          <td>{{ submission.get_average_score }}</td>
          <td>{{ submission.get_total_score }}</td>
        </tr>{% endif %}{% empty %}
        <tr>
          <td colspan='3'>No sumbissions yet!</td>
        </tr>{% endfor %}
      </tbody>
    </table>
  </div>
  <div class='panel-footer'>
    <small>Your own submissions will be highlighted in <span class='bg-info'>blue</span>.</small>
  </div>
</div>
{% endblock %}
