{% extends 'gambit/base.html' %}
{% block title %}{{ submission.title }} - Review Submission - {% endblock %}
{% block content %}<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <div class='panel panel-default'>
        <h3 class='submission-title'><strong>{{ submission.title }}</strong></h3>
        <table class='table table-borderless table-responsive is_breakable'>
          <thead>
            <th class='col-md-2'></th>
            <th class='col-md-10'></th>
          </thead>
          <tbody>
            <tr>
              <td><strong>Submission date:</strong></td>
              <td><span title='{{ submission.submitted_on|date:'H:i O' }}'>{{ submission.submitted_on|date:'Y-m-d' }}</span></td>
            </tr>
            {% if submission.abstract %}<tr>
              <td><strong>Abstract:</strong></td>
              <td>{{ submission.abstract|linebreaks }}</td>
            </tr>{% endif %}
            {% if submission.authors %}<tr>
              <td><strong>Author(s):</strong></td>
              <td>{{ submission.authors|linebreaks }}</td>
            </tr>{% endif %}
            <tr>
              <td><strong>Contact Email:</strong></td>
              <td><a href='mailto:{{ submission.contact_email }}'>{{ submission.contact_email }}</a></td>
            </tr>
            {% if submission.file %}<tr>
              <td><strong>Submission:</strong></td>
              <td><a target='_blank' href='{{ submission.file.url }}'>{{ submission_file_name }} <span class='glyphicon glyphicon-download' aria-hidden='true'></span></a> ({{ submission.file.size|filesizeformat }})</td>
            </tr>
            <tr>
              <td><span class='small smaller'><strong>File Hash:</strong></span></td>
              <td id='file-hash' data-toggle="tooltip" data-placement="bottom" title="SHA-512 checksum"><span class='small smaller' id='abbreviated-hash'>{{ submission.file_hash|truncatechars:9 }}</span><span class='small smaller' id='full-hash'>{{ submission.file_hash }}</span></td>
            </tr>{% endif %}
            {% if submission.conflicts %}<tr>
              <td><strong class='text-danger'>Conflicts:</strong></td>
              <td>{{ submission.conflicts|linebreaks }}</td>
            </tr>{% endif %}
          </tbody>
        </table>
      </div>
      <div class='container'>
        <div class='row'>
          <div class='col-md-offset-1 col-md-10'>
            <form method='post' enctype='multipart/form-data'>
              {% csrf_token %}
              {{ form.non_field_errors }}
              {% for field in form %}<div class='form-group'>
                {{ field.errors }}
                <label for='{{ field.id_for_label }}'>{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}<p class='help-block'>{{ field.help_text|safe }}</p>{% endif %}
              </div>{% endfor %}
              <button type='submit' class='btn btn-primary'>Update review</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>{% endblock %}
