{% extends 'gambit/base.html' %}
{% block title %}New Submission - {% endblock %}
{% block content %}
{% if deadline_passed %}<h1>The deadline to submit talks and workshops has passed.</h1>
<a href='{% url 'home' %}'>&laquo; Return home</a>
{% else %}
<h1>Create a new submission<br><small>Fields marked with asterisks are required</small></h1>

<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <form method='post' enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}<div class='form-group'>
          {{ field.errors }}
          <label for='{{ field.id_for_label }}'>{{ field.label }}</label>
          {{ field }}
          {% if field.help_text %}<p class='help-block'>{{ field.help_text|safe }}</p>{% endif %}
        </div>{% endfor %}
        <button type='submit' class='btn btn-default'>Submit</button>
      </form>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
