{% extends 'gambit/base.html' %}
{% block title %}New Submission - {% endblock %}
{% block content %}{% if deadline_passed %}<div class='container'>
  <div class='row'>
    <div class='col-md-offset-1 col-md-10'>
      {{ SUBMISSION_MESSAGE|safe|default:'Submissions are closed.' }}
      <p><a href='{% url 'home' %}'>&laquo; Return home</a></p>
    </div>
  </div>
</div>{% else %}<div class='container'>
  <div class='row'>
    <div class='col-md-offset-1 col-md-10'>
      <h2>Create a new submission</h2>
      <p><small><strong>Fields marked in bold are required</strong></small></p>
      <form method='post' enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}<div class='form-group'>
          {{ field.errors }}
          <label for='{{ field.id_for_label }}'>{{ field.label|safe }}</label><br>
          {{ field }}
          {% if field.help_text %}<p class='help-block'>{{ field.help_text|safe }}</p>{% endif %}
        </div>{% endfor %}
        <button type='submit' class='btn btn-primary btn-wide'>Submit</button>
      </form>
    </div>
  </div>
</div>{% endif %}{% endblock %}
