{% extends 'gambit/base.html' %}
{% block title %}New Submission - {% endblock %}
{% block content %}
{% if deadline_passed %}<h1>The deadline to submit talks and workshops has passed.</h1>
<a href='{% url 'index' %}'>&laquo; Return home</a>
{% else %}
<h1>Create a new submission</h1>
<div class='row'>
  <div class='col-md-12'>
    <form method='post' enctype='multipart/form-data'>
      {% csrf_token %}
      <table class='table table-hover table-responsive'>{{ form.as_table }}</table>
      <button type='submit'>Submit</button>
    </form>
  </div>
</div>
{% endif %}
{% endblock %}
