{% extends 'gambit/base.html' %}
{% block title %}{{ submission.title }} - Submission - {% endblock %}
{% block scriptinject %}<script>$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})</script>{% endblock %}
{% block content %}<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <div class='panel panel-default'>
        <h3 class='submission-title'><strong>{{ submission.title }}</strong></h3>
        <table class='table table-borderless table-responsive is_breakable'>
          <thead>
            <th class='col-md-2'></th>
            <th class='col-md-10'></th>
          </thead>
          <tbody>
            <tr>
              <td><strong>Submission date:</strong></td>
              <td><span title='{{ submission.submitted_on|date:'H:i O' }}'>{{ submission.submitted_on|date:'Y-m-d' }}</span></td>
            </tr>
            {% if submission.abstract %}<tr>
              <td><strong>Abstract:</strong></td>
              <td>{{ submission.abstract|linebreaks }}</td>
            </tr>{% endif %}
            {% if submission.authors %}<tr>
              <td><strong>Author(s):</strong></td>
              <td>{{ submission.authors|linebreaks }}</td>
            </tr>{% endif %}
            <tr>
              <td><strong>Contact Email:</strong></td>
              <td><a href='mailto:{{ submission.contact_email }}'>{{ submission.contact_email }}</a></td>
            </tr>
            {% if submission.file %}<tr>
              <td><strong>Submission:</strong></td>
              <td><a target='_blank' href='{{ submission.file.url }}'>{{ submission_file_name }} <span class='glyphicon glyphicon-download' aria-hidden='true'></span></a> ({{ submission.file.size|filesizeformat }})</td>
            </tr>
            <tr >
              <td><strong>File Hash:</strong></td>
              <td id='file-hash' data-toggle="tooltip" data-placement="bottom" title="SHA-512 checksum"><code id='abbreviated-hash' class='smaller'>{{ submission.file_hash|truncatechars:9 }}</code><code id='full-hash' class='smaller'>{{ submission.file_hash }}</code></td>
            </tr>{% endif %}
            {% if submission.conflicts %}<tr>
              <td><strong class='text-danger'>Conflicts:</strong></td>
              <td>{{ submission.conflicts|linebreaks }}</td>
            </tr>{% endif %}
          </tbody>
        </table>
        <div class='panel-body'>
          {% if not user == submission.user %}{% if has_reviewed %}<a class='btn btn-primary' href='{% url 'update_review' review_uuid %}'>Edit your review</a>{% else %}<a class='btn btn-primary' href='{% url 'new_review' submission.uuid %}'>Submit a review</a>{% endif %}{% endif %}
          {% if user == submission.user %}<a class='btn btn-primary' href='{% url 'update_submission' submission.uuid %}'>Edit your submission</a>{% endif %}
        </div>
        <hr>
        {% load has_group %}{% if user.is_superuser or user|has_group:'Programme Committee' %}<table class='table table-striped table-responsive'>
          <thead>
            <th class='col-md-4'>Reviewer</th>
            <th class='col-md-3'>Expertise</th>
            <th class='col-md-3'>Score</th>
          </thead>
          <tbody>
            {% if user == submission.user %}<tr>
              <td colspan='3'>Reviews for your own submission have been hidden for the sake of impartiality.</td>
            </tr>{% else %}
            {% for review in reviews %}<tr>
              <td><strong>{% if review.user.profile.name %}{{ review.user.profile.name }}{% else %}{{ review.user.username }}{% endif %}</strong></a></td>
              <td>{{ review.expertise_score }}</td>
              <td>{{ review.submission_score }}</td>
            </tr>
            <tr>
              <td colspan='3'>{{ review.comments }}</td>
            </tr>{% empty %}
            <tr>
              <td colspan='3'>No reviews submitted yet!</td>
            </tr>{% endfor %}
            <thead>
              <th class='col-md-4'>Average Score</th>
              <th class='col-md-3'>Total Score</th>
              <th class='col-md-3'>Total Votes</th>
            </thead>
            <tr>
              <td><strong>{{ submission.get_average_score }}</strong></td>
              <td>{{ submission.get_total_score }}</td>
              <td>{{ submission.get_reviews|length }}</td>
            </tr>
          </tbody>
        </table>{% endif %}{% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
